<h1>{{title}}</h1>

{{#if list}}
    <div class="row">
        <h4 class="text-center">List Delegates</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Delegate</th>
                <th scope="col">Productivity</th>
                <th scope="col">Reward %</th>
                <th scope="col">Total Voters</th>
            </tr>
            </thead>
            <tbody>
            {{#each list}}
                <td>{{rank}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}

{{#if details}}
    <div class="article">
        <h4 class="text-center">Delegate Detail Information</h4>

    </div>
{{/if}}
